:root {
    --burgerColor: white;
}
body {
    background: #444;
}

.circle {
    height: 50px;
    width: 50px;
    background: blue;
    border-radius: 50%;
    float: left;
    position: relative;
    left: 100px;
    margin: 10px;
    z-index: 0;
    animation-name: drop-down;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}


#burgerButton {
    position: fixed;
    height: 48px;
    width: 60px;
    padding: 20px;
    z-index: 10;
}

 .burgerLine {
     position: relative;
     display: block;
     margin-bottom: 15px;
     height: 6px;
     width: 60px;
     border-radius: 3px;
     transition-property: all;
     background-color: var(--burgerColor)
 }

@keyframes drop-down {
    0% {background: blue; top: 0px}
    100% {background: red; top: 500px;}
}

#c1 {
    animation-timing-function: linear;
}

#c2 {
    animation-timing-function: ease;
}

#c3 {
    animation-timing-function: ease-in;
}

#c4 {
    animation-timing-function: ease-out;
}

#c5 {
    animation-timing-function: ease-in-out;
}

.fadeOut .l1 {
    transform: rotate(-45deg) translate(-30px) ;
    background-color: #444;
    transition: 0.7s;
    margin-left: 20px;
}

.fadeOut .l2 {
    transform:translate(-30px);
    opacity: 0;
    background-color: #444;
    transition: 0.7s;
    margin-left: 20px;
}

.fadeOut .l3 {
    transform: rotate(45deg) translate(-30px);
    background-color: #444;
    transition: 0.7s;
    margin-left: 20px;
}

#menu {
    height: 100%;
    width: 0%;
    position: fixed;
    background-color: #FFBA24;
    overflow: hidden;
    transition: 0.3s;
    padding-top: 100px;
}

#menu a {
    padding: 8px 8px 8px 220px;
    text-decoration: none;
    font-size: 32px;
    font-family: sans-serif;
    display: block;
    color: #444;
    transition: 0.3s;
}

#menu a:hover {
    color: red;
    text-decoration: underline;
}